@import "../Common/Color.scss";
@import"../Common/Fonst.scss";




.MainForm{
  
    font-family: $font-family-poppins;
    .myFormLabel{
        font-size: $fontSize1rem;
        font-weight: $fontW400;
        color:$gray ;
        text-align: $left;
    }
    .form-control {
        font-size: 0.8rem;
    }
}
