@import "../Common/Color.scss";

.sidebar{
  
    width: 100%;
    background: #1C212D;
   
   
    .sidebarIcon{
        color: rgba(255, 255, 255, 0.3);
        
    }
    .sidebarText{
        color:  rgba(255, 255, 255, 0.8);;
        font-size: 0.85rem;
        display: inline;
    }
    .sidebarTitle{
        padding: 0 1rem;
        font-weight: 800;
        font-size: 0.65rem;
        color:$grey;
    }
    .NavLinkHover:hover{
        background: blue;
       border-radius: 4px;

    }
}